html, body, h1, h2, h3, h4, p, div, ul, ol, li {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
}
h1 {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
}
h2 {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	color: #ffffff;
	width: 800px;
	margin: 0 auto 0 auto;
}
h2 strong {
	font-weight: 500;
}
h3 {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 28px;
	font-weight: normal;
	text-align: center;
	border-bottom: 1px solid #555555;
	margin: 20px 0 20px 0;
}
p {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
}
h4 {
	font-weight: bold;
	margin: 5px 0 10px 0;
}
a {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;

}
a:hover {
  color: #aa0000;
  text-decoration: underline;
}
.header {
	background-color: #999999;
}
.nav{
	background-size: 100% 100%;
	padding: 15px 20px 15px 20px;
	text-align: center;
	background-image: url("background/navbar.png");
}
.nav li {
	display: inline;
	padding: 15px;
	margin: 0 15px 0 15px;
}
.nav a  {
	color: black;
	font-weight: bold;
	text-decoration: none;
}
.nav a:hover {
	color: #dddddd;
}
.tagline {
	background-color: #000000;
	padding: 20px 0 20px 0;
}
.education, .experience, .projects, .skills, .courses {
	width: 900px;
	margin: 0 auto;
}
.education ul {
	list-style-type: none;
}
.education img{
	float: right;
	padding-right: 10px;
}
.education li {
	margin-bottom: 40px;
}
.experience ul, .projects ul{
	list-style-type: none;
	margin-bottom: 10px;
}
.experience ol, .projects ol {
	list-style-type: circle;
	padding-left: 20px;
}
.experience ol li, .projects ol li {
	margin: 5px 0 8px 0;
}
.skills ul {
	list-style-type: none;
	margin: 20px 0 20px 0;
}
.programming li, .software li {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	background-color: #666666;
	color: #cccccc;
	display: inline;
	padding: 8px 8px 8px 8px;
	margin-right: 10px;
}
.courses {
	margin-bottom: 20px;
}
.courses ul {
	list-style-type: none;
}
div#courses ul {
	-webkit-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 100px;
	column-gap: 100px;
}
.footer {
  background-color: #999999;
  text-align: center;
  padding: 20px 0 20px 0;
}
